//===========================================
// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}
.bg-black {
	background-color: black;
}
.bg-btn {
	background-color:$bg-btn; 
	color: white;
}
.red {
	color: red;
}
.theme-bg-color {
	background-color: #ececec;
}
.bold {
	font-weight: bold;
}
.blue {
	background-color: #2196f3;
}
.yellow {
	background-color: #ff9800;
}
.purple {
	background-color: #673ab7;
}
.gray {
	background-color: #607d8b;
}
.orange {
	background-color: #ff5722;
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}
//===========================================
// -Helper Classes end
//===========================================
